html {
  scroll-behavior: unset;
}

.web-slide {
  display: none;
}

.photo-slide {
  display: none;
}

.design-slide {
  display: none;
}

.fade-animation {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.8s;
  animation-name: fade;
  animation-duration: 0.8s ease-in-out;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
